<section class="book_section layout_padding" id="sugerencia">
  <div class="container">
    <div class="heading_container">
      <h2 style="font-size: 50px;">
        Déjanos tu comentario
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form_container">
          <form #login="ngForm" (ngSubmit)="completeLogin(login)">
            <div>
              <input type="text" class="form-control" placeholder="Tu nombre" name="nombre" [(ngModel)]="nombre" />
            </div>
            <div>
              <input type="email" class="form-control" placeholder="Tu email" name="email" [(ngModel)]="email" />
            </div>
            <div>
              <label for="message-text" class="col-form-label">Tu mensaje:</label>
              <textarea class="form-control" id="message-text" style="height: 169px;" name="mensaje"
                [(ngModel)]="mensaje"></textarea>
            </div>
            <div class="btn_box">
              <button type="submit" data-bs-toggle="modal" data-bs-target="#sugEnv">
                Enviar
              </button>
              <!-- Modal -->
              <div class="modal fade" id="sugEnv" tabindex="-1" aria-labelledby="ModalMensaje"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="ModalMensaje" style="color: Black;">Mensaje Enviado</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Te contestaremos lo antes posible. Gracias por contactarnos :)
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
