section {
  background-image: url(src\assets\images\contact-tsystems.jpg);
    background-size: 700px 471px;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}
