<div class="wrapper fadeInDown">
  <div id="formContent">


    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/assets/images/t-como.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="email" id="email" class="fadeIn second" name="email" placeholder="Introduce tu Email">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Introduce tu Password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- enviar a registro -->
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/registro']">Aun no estás registrado?</a>
    </div>

  </div>
</div>
