<div class="wrapper fadeInDown">
  <div id="formContent">


    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/assets/images/t-como.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <input type="email" id="email" class="fadeIn second" name="email" placeholder="Introduce tu Email"  ngModel email="true" required #email="ngModel">
      <div class="alert alert-danger" role="alert" *ngIf="email.errors && f.submitted">
        Introduce un email valido
      </div>

      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Introduce tu Password" [(ngModel)]="form.password" required minlength="6" #password="ngModel">
      <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
        Introduce tu password (mínimo 6 caracteres)
      </div>

      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- enviar a registro -->
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/registro']">Aun no estás registrado?</a>
    </div>

  </div>
</div>
