<div class="hero_area">
  <header class="header_section">
    <div class="container">

      <nav class="navbar navbar-expand-lg custom_nav-container">
        <div class="container-fluid">
          <a class="navbar-brand" [routerLink]="['home']" routerLinkActive="router-link-active">
            <span>
              <img src="/assets/images/t-como.png" style="width: 250px;">
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- ESTAS SE VEN A NIVEL PUBLIC -->
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']" fragment="menu">MENÚ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']" fragment="nosotros">NOSOTROS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/sugerencias']">SUGERENCIAS</a>
              </li>
              <!-- ESTA SE VE A NIVEL ADMIN -->
              <li class="nav-item" *ngIf="logAdmin">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
                  [routerLink]="['/dishes']">PLATOS</a>
              </li>
              <!-- ESTA SE VE A NIVEL PUBLIC USER I ADMIN (HAY 2 VISTAS))-->
              <li class="nav-item" *ngIf="isLogin">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
                  [routerLink]="['/orders']">ORDENES</a>
              </li>
              <!-- ESTA SE VEN A NIVEL ADMIN -->
              <li class="nav-item" *ngIf="logAdmin">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
                [routerLink]="['/users']">USUARIOS</a>
              </li>
            </ul>
            <div class="user_option">
              <!-- de public reenvia a login -->
              <a *ngIf="!isLogin" href="" class="user_link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
              [routerLink]="['/login']">
                <i class="fa fa-user" aria-hidden="true"></i>
              </a>
              <!-- si esta logueado reenvia a profile // mirar manera mejor de hacer el if -->
              <a *ngIf="isLogin" href="" class="user_link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
              [routerLink]="['/profile']">
                <i class="fa fa-user" aria-hidden="true">&nbsp;{{usuari}}</i>
              </a>

              <a class="cart_link" href="#" data-bs-toggle="modal" data-bs-target="#tu-carrito"
                  (click)='!isLogin ? showMessageNotLogin() : true' *ngIf="!logAdmin ">
                <i class="fa fa-shopping-cart"></i>
              </a>
              <a *ngIf="isLogin" href="#">
                <i class="fa fa-solid fa-power-off" (click)="logout()"></i>
              </a>
              <!-- Modal Carrito si esta login -->
              <div class="modal fade" *ngIf="isLogin" id="tu-carrito" tabindex="-1" aria-labelledby="carrito" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="carrito"><strong>Tu Carrito</strong></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" *ngIf="carrito.length > 0; else noDishes">
                      <div *ngFor="let dish of carrito">
                        {{dish.name}}
                        <span (click)="eliminarPlat(dish.id)" class="plat"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                        </svg></span>
                      </div>

                    </div>
                    <ng-template #noDishes>
                      <div class="modal-body">
                        No hay platos
                      </div>
                    </ng-template>
                    <div class="modal-body">
                      <!-- DATA ENTREGA -->
                      <div class="container-dateInput">
                        <div class="wrapper-dateinput dia">
                          <input class="hores w-70" disabled type="text" value="{{dataEntrega | date:'E'}}" />
                          <div class="plus-minus">
                            <span class="boto" (click)="dateInput('dd','+');">
                              <i class="fa fa-plus"></i>
                            </span>
                            <span class="boto" (click)="dateInput('dd','-');">
                              <i class="fa fa-minus"></i>
                            </span>
                          </div>
                        </div>

                        <div class="wrapper-dateinput hora">
                          <input class="hores w-60" disabled min="12" max="15" value="12" type="text" ngModel="{{dataEntrega | date:'HH'}}" />
                          <div class="plus-minus">
                            <span class="boto" (click)="dateInput('hh','+');">
                              <i class="fa fa-plus"></i>
                            </span>
                            <span class="boto" (click)="dateInput('hh','-');">
                              <i class="fa fa-minus"></i>
                            </span>
                          </div>
                        </div>
                        <div class="wrapper-dateinput minut">
                          <input class="hores w-60" disabled min="0" max="45" value="00" type="text" ngModel="{{dataEntrega | date:'mm'}}" />
                          <div class="plus-minus">
                            <span class="boto" (click)="dateInput('mm','+');">
                              <i class="fa fa-plus"></i>
                            </span>
                            <span class="boto" (click)="dateInput('mm','-');">
                              <i class="fa fa-minus"></i>
                            </span>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn2" (click)="realizarOrden()">Realizar Orden</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </nav>
    </div>
  </header>

  <router-outlet></router-outlet>

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Contáctanos
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Carrer del Camí de Valls, 81-87
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  977 666 666
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  t-como@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              <img src="/assets/images/t-como.png" style="width: 200px;">
            </a>
            <p>
              By T-Systems
            </p>
            <p>
              Como en casa
            </p>
            <div class="footer_social">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Nuestros horarios
          </h4>
          <p>
            Lunes - Viernes
          </p>
          <p>
            12.00 Am - 15.00 Pm
          </p>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy;
          <span id="displayYear"></span>
          All Rights Reserved<br><br>
          &copy;
          <span id="displayYear"></span>
          Distributed By TComo
        </p>
      </div>

    </div>
    <button (click)="backToTop()"
    type="button"
    id="myBtn" title="Go to top">🡅</button>


  </footer>

  <!-- footer section -->

</div>


