/* CSS INPUT DATA PERSONALITZAT */
.inline-group {
  max-width: 9rem;
  padding: .5rem;
}
.inline-group .form-control {
  text-align: center;
}
.form-control[type="number"]::-webkit-inner-spin-button,
.form-control[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.boto{
  padding:2px 0px;
  height:fit-content;
  background-color: white;
  cursor: pointer;
}
div .boto:active {
  background-color: #8f5c77;
}
.boto i{
  color: #8f5c77;
}
.wrapper-dateinput{
  display:flex;

}
.plus-minus {
  display:flex;
  flex-direction:column;
  padding: 0px 0px;
  right: 17px;
  position: relative;
}
.hores{
    width: 40%;
    padding: 5px 10px;
    height: auto;
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    overflow: visible;
    margin: 5px 0px;
    text-rendering: optimizeLegibility;
}
.hores:disabled, .hores[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}
.hores::after, .hores::before {
  box-sizing: content-box;
}
/*
*, ::after, ::before {
  box-sizing: content-box;
}
*/
.minut {
  margin-left: -27px;
}

.container-dateInput {
  display: flex;
  align-items: center;
}
.container-dateInput p {
  margin-right: 10px;
}
.w-70{width: 70px;}
