<div id="content">
    <div class="div-img">
        <img
            src="assets/images/client1.jpg"
            class="img-radius"
            alt="User-Profile-Image"></div>
        <!-- div imagen -->

        <div class="card-block">
            <h1 class="m-b-20 p-b-5 b-b-default f-w-600">Datos de Usuario</h1>

            <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Nombre:</label>
                <input
                    class="form-control"
                    id="disabledInput"
                    type="text"
                    placeholder="Juan"
                    disabled="disabled">
                    <br>
                        <label for="disabledTextInput" class="form-label">Apellidos:</label>
                        <input
                            class="form-control"
                            id="disabledInput"
                            type="text"
                            placeholder="Marin Garcia"
                            disabled="disabled">
                            <br>
                                <label for="disabledTextInput" class="form-label">Contraseña:</label>
                                <input
                                    class="form-control"
                                    id="disabledInput"
                                    type="text"
                                    placeholder="************"
                                    disabled="disabled"></div>
                                <div class="pt-1 mb-4">
                                    <button class="user_option" type="button">Actualizar</button>
                                </div>
                            </div>
                            <!-- fin card-rock-informacion -->

                        </div>
                        <!-- fin content -->
