<!-- slider section -->
<section class="slider_section ">
  <div id="customCarousel1" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container ">
          <div class="row">
            <div class="col-md-7 col-lg-6 ">
              <div class="detail-box">
                <h1>
                  Productos locales y de temporada
                </h1>
                <p>
                  Nuestros platos estan elaborados con productos de calidad y de comercio de proximidad.
                  Mantén una dieta saludable, tu cuerpo de lo agradecerá.
                  Doloremque, itaque aperiam facilis rerum, commodi, temporibus sapiente ad mollitia laborum
                  quam quisquam esse error unde.
                </p>
                <div class="btn-box">
                  <a href="" class="btn1">
                    Haz tu reserva
                  </a>
                </div>
              </div>
            </div>
            <!-- idea : poner imagenes al lado texto slide , redondeadas mejor centradas -->
            <div class="col-md-7 col-lg-6 ">
              <img src="..\assets\images\oficinas-con-cafetería-3.jpg" id="imgSlide1" width="400px" height="400px" alt="clienta comiendo feliz">
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="container ">
          <div class="row">
            <div class="col-md-7 col-lg-6 ">
              <div class="detail-box">
                <h1>
                  Ayúdanos a mejorar la ciudad
                </h1>
                <p>
                  Colabora con nosotros para ayudar a las personas que más lo necesitan.
                  Pide nuestro plato del dia, parte de los beneficios van para el albergue municipal
                  y otras iniciativas sociales con las que colaboramos. ¡Ven y pregúntanos!
                </p>
                <div class="btn-box">
                  <a href="" class="btn1">
                    Haz tu reserva
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <ol class="carousel-indicators">
        <li type="button" data-bs-target="#customCarousel1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></li>
        <li type="button" data-bs-target="#customCarousel1" data-bs-slide-to="1" aria-label="Slide 2"></li>
      </ol>
    </div>
  </div>

</section>
<!-- end slider section -->

<!-- offer section -->
<section class="offer_section layout_padding-bottom">
<div class="offer_container">
  <div class="container ">
    <div class="row">
      <h1>¡Los platos más populares!</h1>
      <div class="col-md-6 ">
        <div class="box ">
          <div class="img-box">
            <img src="/assets/images/o1.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>Tasty Thursdays</h5>
            <h6><span>20%</span> Off</h6>
            <a href="">
              Order Now
              <svg enable-background="new 0 0 456.029 456.029" version="1.1" viewBox="0 0 456.03 456.03" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="m345.6 338.86c-29.184 0-53.248 23.552-53.248 53.248 0 29.184 23.552 53.248 53.248 53.248 29.184 0 53.248-23.552 53.248-53.248-0.512-29.184-24.064-53.248-53.248-53.248z"/><path d="m439.3 84.91c-1.024 0-2.56-0.512-4.096-0.512h-322.56l-5.12-34.304c-3.072-22.528-22.528-39.424-45.568-39.424h-41.472c-11.264 0-20.48 9.216-20.48 20.48s9.216 20.48 20.48 20.48h41.472c2.56 0 4.608 2.048 5.12 4.608l31.744 216.06c4.096 27.136 27.648 47.616 55.296 47.616h212.99c26.624 0 49.664-18.944 55.296-45.056l33.28-166.4c2.048-10.752-5.12-21.504-16.384-23.552z"/><path d="m215.04 389.55c-1.024-28.16-24.576-50.688-52.736-50.688-29.696 1.536-52.224 26.112-51.2 55.296 1.024 28.16 24.064 50.688 52.224 50.688h1.024c29.184-1.536 52.224-26.112 50.688-55.296z"/></svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6  ">
        <div class="box ">
          <div class="img-box">
            <img src="/assets/images/o2.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>Pizza Days</h5>
            <h6><span>15%</span> Off</h6>
            <a href="">
              Order Now
              <svg enable-background="new 0 0 456.029 456.029" version="1.1" viewBox="0 0 456.03 456.03" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="m345.6 338.86c-29.184 0-53.248 23.552-53.248 53.248 0 29.184 23.552 53.248 53.248 53.248 29.184 0 53.248-23.552 53.248-53.248-0.512-29.184-24.064-53.248-53.248-53.248z"/><path d="m439.3 84.91c-1.024 0-2.56-0.512-4.096-0.512h-322.56l-5.12-34.304c-3.072-22.528-22.528-39.424-45.568-39.424h-41.472c-11.264 0-20.48 9.216-20.48 20.48s9.216 20.48 20.48 20.48h41.472c2.56 0 4.608 2.048 5.12 4.608l31.744 216.06c4.096 27.136 27.648 47.616 55.296 47.616h212.99c26.624 0 49.664-18.944 55.296-45.056l33.28-166.4c2.048-10.752-5.12-21.504-16.384-23.552z"/><path d="m215.04 389.55c-1.024-28.16-24.576-50.688-52.736-50.688-29.696 1.536-52.224 26.112-51.2 55.296 1.024 28.16 24.064 50.688 52.224 50.688h1.024c29.184-1.536 52.224-26.112 50.688-55.296z"/></svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- end offer section -->

<!-- food section -->
<section class="food_section layout_padding-bottom" id="menu">
<div class="container">
  <div class="heading_container heading_center">
    <h2>Nuestro Menu</h2>
    <div class="input-group-sm" class="col-auto">
      <input type="text" class="form-control" placeholder="Filtrar por nombre" [(ngModel)]="buscar">
    </div>
  </div>

  <ul class="filters_menu">
    <li id="*" class="active">All</li>
    <li *ngFor="let c of categories" id=".{{c.name}}" [attr.id-cat]="c.id" (click)="doIsotopeMagic($event)">
      {{c.name}}
    </li>
  </ul>

  <div class="filters-content">
    <div class="row grid">
      <div *ngFor="let d of dishes" class="col-sm-6 col-lg-4 all {{d.categories | dish:'catString'}}" >
        <div class="box">
          <div>
            <div class="img-box">
              <img src="data:image/jpeg;base64,{{d.image}}" width="150px" height="150px">
            </div>
            <div class="detail-box">
              <h5>{{d.name}}</h5>
              <div class="options">
                <h6>???</h6>
                <a href="">
                  <svg enable-background="new 0 0 456.029 456.029" version="1.1" viewBox="0 0 456.03 456.03" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="m345.6 338.86c-29.184 0-53.248 23.552-53.248 53.248 0 29.184 23.552 53.248 53.248 53.248 29.184 0 53.248-23.552 53.248-53.248-0.512-29.184-24.064-53.248-53.248-53.248z"/><path d="m439.3 84.91c-1.024 0-2.56-0.512-4.096-0.512h-322.56l-5.12-34.304c-3.072-22.528-22.528-39.424-45.568-39.424h-41.472c-11.264 0-20.48 9.216-20.48 20.48s9.216 20.48 20.48 20.48h41.472c2.56 0 4.608 2.048 5.12 4.608l31.744 216.06c4.096 27.136 27.648 47.616 55.296 47.616h212.99c26.624 0 49.664-18.944 55.296-45.056l33.28-166.4c2.048-10.752-5.12-21.504-16.384-23.552z"/><path d="m215.04 389.55c-1.024-28.16-24.576-50.688-52.736-50.688-29.696 1.536-52.224 26.112-51.2 55.296 1.024 28.16 24.064 50.688 52.224 50.688h1.024c29.184-1.536 52.224-26.112 50.688-55.296z"/></svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</section>
<!-- end food section -->

<!-- about section -->
<section class="about_section layout_padding" id="nosotros">
<div class="container ">

  <div class="row">
    <div class="col-md-6 ">
      <div class="img-box">
        <img src="/assets/images/about-img.png" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="detail-box">
        <div class="heading_container">
          <h2>We Are T-Como</h2>
        </div>
        <p>
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
          in some form, by injected humour, or randomised words which don't look even slightly believable. If you
          are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
          the middle of text. All
        </p>
        <a href="">Read More</a>
      </div>
    </div>
  </div>
</div>
</section>
<!-- end about section -->

