
<!-- slider section -->
<section class="slider_section " id="fons-slider">
  <div id="customCarousel1" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container ">
          <div class="row">
            <div class="col-md-7 col-lg-6 ">
              <div class="detail-box">
                <h1>
                  Productos locales y de temporada
                </h1>
                <p>
                  Nuestros platos estan elaborados con productos de calidad y de comercio de proximidad.
                  Mantén una dieta saludable, tu cuerpo de lo agradecerá.
                </p>
                <div class="btn-box">
                  <a href='/home#menu' class="btn1">
                    Haz tu reserva
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="container ">
          <div class="row">
            <div class="col-md-7 col-lg-6 ">
              <div class="detail-box">
                <h1>
                  Ayúdanos a mejorar la ciudad
                </h1>
                <p>
                  Colabora con nosotros para ayudar a las personas que más lo necesitan.
                  Pide nuestro plato del dia, parte de los beneficios van para el albergue municipal
                  y otras iniciativas sociales con las que colaboramos. ¡Ven y pregúntanos!

                </p>
                <div class="btn-box">
                  <a href='/home#menu' class="btn1">
                    Haz tu reserva
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <ol class="carousel-indicators">
        <li type="button" data-bs-target="#customCarousel1" data-bs-slide-to="0" class="active" aria-current="true"
          aria-label="Slide 1"></li>
        <li type="button" data-bs-target="#customCarousel1" data-bs-slide-to="1" aria-label="Slide 2"></li>
      </ol>
    </div>
  </div>
</section>
<!-- end slider section -->

<!-- offer section -->
<section class="offer_section layout_padding-bottom">

<div class="offer_container">
  <div class="container ">
    <div class="row">
      <h1>¡Nuestras ofertas!</h1>
      <div class="col-md-6 ">
        <div class="box ">
          <div class="img-box">
            <img src="/assets/images/o1.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>Jueves solidarios</h5>
            <h6><span>10%</span> Off</h6>
            <p>Colaboramos aportando 2€ de cada plato a entidades del barrio</p>
            <a href='/home#menu'>
              Pide ahora
              <svg enable-background="new 0 0 456.029 456.029" version="1.1" viewBox="0 0 456.03 456.03" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="m345.6 338.86c-29.184 0-53.248 23.552-53.248 53.248 0 29.184 23.552 53.248 53.248 53.248 29.184 0 53.248-23.552 53.248-53.248-0.512-29.184-24.064-53.248-53.248-53.248z"/><path d="m439.3 84.91c-1.024 0-2.56-0.512-4.096-0.512h-322.56l-5.12-34.304c-3.072-22.528-22.528-39.424-45.568-39.424h-41.472c-11.264 0-20.48 9.216-20.48 20.48s9.216 20.48 20.48 20.48h41.472c2.56 0 4.608 2.048 5.12 4.608l31.744 216.06c4.096 27.136 27.648 47.616 55.296 47.616h212.99c26.624 0 49.664-18.944 55.296-45.056l33.28-166.4c2.048-10.752-5.12-21.504-16.384-23.552z"/><path d="m215.04 389.55c-1.024-28.16-24.576-50.688-52.736-50.688-29.696 1.536-52.224 26.112-51.2 55.296 1.024 28.16 24.064 50.688 52.224 50.688h1.024c29.184-1.536 52.224-26.112 50.688-55.296z"/></svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6  ">
        <div class="box ">
          <div class="img-box">
            <img src="/assets/images/o2.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>Pizza Days</h5>
            <h6><span>15%</span> Off</h6>
            <p>Colaboramos aportando 2€ de cada plato a entidades del barrio</p>
            <a href='/home#menu'>
              Pide ahora
              <svg enable-background="new 0 0 456.029 456.029" version="1.1" viewBox="0 0 456.03 456.03" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="m345.6 338.86c-29.184 0-53.248 23.552-53.248 53.248 0 29.184 23.552 53.248 53.248 53.248 29.184 0 53.248-23.552 53.248-53.248-0.512-29.184-24.064-53.248-53.248-53.248z"/><path d="m439.3 84.91c-1.024 0-2.56-0.512-4.096-0.512h-322.56l-5.12-34.304c-3.072-22.528-22.528-39.424-45.568-39.424h-41.472c-11.264 0-20.48 9.216-20.48 20.48s9.216 20.48 20.48 20.48h41.472c2.56 0 4.608 2.048 5.12 4.608l31.744 216.06c4.096 27.136 27.648 47.616 55.296 47.616h212.99c26.624 0 49.664-18.944 55.296-45.056l33.28-166.4c2.048-10.752-5.12-21.504-16.384-23.552z"/><path d="m215.04 389.55c-1.024-28.16-24.576-50.688-52.736-50.688-29.696 1.536-52.224 26.112-51.2 55.296 1.024 28.16 24.064 50.688 52.224 50.688h1.024c29.184-1.536 52.224-26.112 50.688-55.296z"/></svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</section>
<!-- end offer section -->

<!-- food section -->
<section class="food_section layout_padding-bottom">
  <div class="container">
    <div class="heading_container heading_center"  >
      <h2 style="padding-bottom: 30px;" id="menu">Menu</h2>
      <div class="input-group-sm" class="col-auto">
        <input type="text" class="form-control quicksearch" (keyup)="onSearchKeyUp($event)"
        placeholder="Filtrar por nombre" [(ngModel)]="buscar" id="buscador" style="color: black;"/>
      </div>
    </div>

  <ul class="filters_menu" >
    <li id="*" class="active" (click)="doIsotopeMagic($event)">Todo</li>
    <li *ngFor="let c of categories" id=".{{c.name}}" [attr.id-cat]="c.id" (click)="doIsotopeMagic($event)">
      {{c.name}}
    </li>
  </ul>

  <div class="alertaLogin">Inicia sesi&oacute;n para seleccionar tus platos</div>

  <div class="filters-content">
    <div class="row grid" *ngIf="dishes != undefined; else loading">
      <div *ngFor="let d of dishes" class="col-sm-6 col-lg-4 all {{d.categories | dish:'catString'}}" >
        <div class="box">
          <div>
            <div class="img-box">
              <img src="data:image/jpeg;base64,{{d.image}}" width="100%" height="100%">
            </div>
            <div class="detail-box">
              <h5 class="nomPlat">{{d.name}}</h5>
              <div class="options">
                <h6>{{d.descripcion}}</h6>
                <a *ngIf="isLogged && !isAdmin" (click)="afegirCarrito(d);alert()">
                  <svg enable-background="new 0 0 456.029 456.029" version="1.1" viewBox="0 0 456.03 456.03" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="m345.6 338.86c-29.184 0-53.248 23.552-53.248 53.248 0 29.184 23.552 53.248 53.248 53.248 29.184 0 53.248-23.552 53.248-53.248-0.512-29.184-24.064-53.248-53.248-53.248z"/><path d="m439.3 84.91c-1.024 0-2.56-0.512-4.096-0.512h-322.56l-5.12-34.304c-3.072-22.528-22.528-39.424-45.568-39.424h-41.472c-11.264 0-20.48 9.216-20.48 20.48s9.216 20.48 20.48 20.48h41.472c2.56 0 4.608 2.048 5.12 4.608l31.744 216.06c4.096 27.136 27.648 47.616 55.296 47.616h212.99c26.624 0 49.664-18.944 55.296-45.056l33.28-166.4c2.048-10.752-5.12-21.504-16.384-23.552z"/><path d="m215.04 389.55c-1.024-28.16-24.576-50.688-52.736-50.688-29.696 1.536-52.224 26.112-51.2 55.296 1.024 28.16 24.064 50.688 52.224 50.688h1.024c29.184-1.536 52.224-26.112 50.688-55.296z"/></svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loading>
      <div class="text-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Cargando...</span>
        </div>
      </div>
    </ng-template>
  </div>
</div>
</section>
<!-- end food section -->

<!-- about section -->
<section class="about_section layout_padding"  >
<div class="container ">

  <div class="row" id="nosotros">
    <div class="col-md-6 ">
      <div id="img-about">
        <img src="/assets/images/equip.jpg" alt="" style="width:500px">
      </div>
    </div>
    <div class="col-md-6">
      <div class="detail-box">
        <div class="heading_container">
          <h2>Somos T-Como</h2>
        </div>
        <p style="text-align: justify;"> <!-- podriamos poner nombres con el link a linkedin -->
          Somos el equipo TComo, formado por Arnau, Juan y Joana. Desde el principio hemos encajado muy bien como equipo.
          Hemos reforzado la comunicación entre nosotros consiguiendo resultados muy positivos. Venimos de distintos backgrounds
          formativos, con personalidades y maneras de hacer diferentes pero con valores y objetivos similares, lo que nos ha
          permitido crecer de manera individual y colectiva. Gracias por la oportunidad a T-systems Iberia, Fundació Esplai,
          José Marin, Teresa, Lola y a todos los demás involucrados en este Bootcamp en Java/Angular.
          <!-- podriamos poner nuestra foto en pequeñito en linea una con otra -->
        </p>
      </div>
    </div>
  </div>
</div>
</section>
<!-- end about section -->
