<head></head>
<div id="mid">
    <div class="izq">
        <div id="cont-izq">
            <h1>Log In</h1>

            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example18">Email:</label>
              <input type="email" id="form2Example18" class="form-control form-control-lg" placeholder="Introduce tu Email"/>

            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example28">Contraseña:</label>
              <input type="password" id="form2Example28" class="form-control form-control-lg" placeholder="Introduce tu Contraseña" />

            </div>

            <div class="pt-1 mb-4">
              <button class="user_option" type="button">Iniciar Sesión</button>
            </div>


        </div>
    </div>

    <div class="der">

        <div id="cont-der">
            <h1>Register</h1>

            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example18">Nombre de Usuario:</label>
              <input type="username" id="input-username" class="form-control form-control-lg" placeholder="Introduce un nombre de usuario"/>

            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example18">Email:</label>
              <input type="email" id="input-email" class="form-control form-control-lg" placeholder="Introduce tu Email" />

            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example28">Contraseña:</label>
              <input type="password" id="input-pass" class="form-control form-control-lg" placeholder="Contraseña"/>

            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example28">Repetir Contraseña:</label>
              <input type="password-rep" id="input-pass" class="form-control form-control-lg" placeholder="Repite la contraseña" />

            </div>

            <div class="pt-1 mb-4">
              <button class="user_option" type="button">Registrarse</button>
            </div>

        </div>

    </div>

    <footer></footer>
