<div class="wrapper fadeInDown">
  <div id="formContent">


    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/assets/images/t-como.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <input type="email" id="email" class="fadeIn second" name="email" placeholder="Introduce tu Email" ngModel email="true" required #email="ngModel">
      <div class="alert alert-danger" role="alert" *ngIf="email.errors && f.submitted">
        Introduce un email valido
      </div>

      <input type="username" id="username" class="fadeIn second" name="username" placeholder="Introduce tu Username" [(ngModel)]="form.username" required minlength="4" #username="ngModel">
      <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
        Introduce un Username valido (mínimo 5 caracteres)
      </div>

      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Introduce tu Password" [(ngModel)]="form.password" required minlength="6" #password="ngModel">
      <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
        Introduce tu password (mínimo 6 caracteres)
      </div>

      <input type="submit" class="fadeIn fourth" value="Sign In">
      <!-- <div class="form-group">
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted">
          Login incorrecto
        </div>
      </div> -->
    </form>

    <!-- enviar a login -->
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/login']">Ya tienes cuenta?</a>
    </div>

  </div>
</div>
